* {
    margin: 50px;
    background-color:#d6a47a;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
#result{
    margin: 0px;
}